.mainDiv{
    width: fit-content;
    padding: 10px;
    border: 2px solid green;
    background: lightpink;
}
.secondDiv {
    width: 350px;
    border: 2px solid mediumvioletred;
     padding: 10px;
    background: lightyellow;
}
.wrap {
    display: flex;
}